<h1>Listing Shifts</h1>
<%= link_to 'New shift', new_shift_path%>
<table>
    <tr>
        <th>Hours</th>
    </tr>
    
    <% @shifts.each do |shift| %>
    <tr>
        <td><%= shift.hours %></td>
        <td><%= link_to 'Show', shift_path(shift) %></td>
        <td><%= link_to 'Edit', edit_shift_path(shift) %></td>
        <td><%= link_to 'Delete', 
                                shift_path(shift),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>

    </tr>
    <% end %>
</table>